<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./assets/favicon.ico">

    <title>Apollo9 Tech | Contact</title>

    <!-- <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet"> -->
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for The Bager template -->
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link href="./css/app.css" rel="stylesheet">
    <link href="https://unpkg.com/v-calendar@0.9.7/lib/v-calendar.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet"> -->

    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
    <style>
        .list-complete-item {
            transition: all 1s;
            display: inline-block;
            margin-right: 10px;
        }
        .list-complete-enter, .list-complete-leave-to
        /* .list-complete-leave-active below version 2.1.8 */ {
            opacity: 0;
            transform: translateY(30px);
        }
        .list-complete-leave-active {
            position: absolute;
        }
        /* Form-Fade Transition */
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s;
        }
        .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
            opacity: 0;
        }


        /* Modal */
        .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
        }

        .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
        }

        .modal-container {
        width: 500px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
        }

        .modal-header h3 {
        margin-top: 0;
        color: #42b983;
        }

        .modal-body {
        margin: 20px 0;
        }

        .modal-default-button {
        float: right;
        }

        /*
        * The following styles are auto-applied to elements with
        * transition="modal" when their visibility is toggled
        * by Vue.js.
        *
        * You can easily play with the modal transition by editing
        * these styles.
        */

        .modal-enter {
        opacity: 0;
        }

        .modal-leave-active {
        opacity: 0;
        }

        .modal-enter .modal-container,
        .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        }

    </style>
  </head>

  <body>
    <!-- Top Bar - Behind Navigation -->
    <div id="top-bar">
        <div class="container">
            <!-- MODIFIED; blnaked out slogan -->
            <!-- <div class="hero-slogan">We help the world growing since 1983</div> -->
            <div class="hero-slogan"></div>
            <div class="social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <!-- <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a> -->
            </div>
        </div>
    </div>
    
    <!-- Header Logo and Info -->
    <div id="">
        <div class="row mx-0 my-4">
            <div class="col-sm-12 col-md-6 col-lg-3 px-0 mt-2 pb-3" style="text-align:center">
                <a href="index.html"><img class="" src="./assets/apollo9_logo_moonO_toside.png" alt="Apollo9 Logo"></a>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-9 px-0">
                <div class="row mx-0 mt-3">
                    <div class="col-lg-4 px-0" style="text-align:center">
                        <div class="content">
                            <p><i class="fa fa-phone"></i> Call Us</p>
                            <p>(619) 342 5701</p>
                        </div>
                    </div>
                    <div class="col-lg-4 px-0" style="text-align:center">
                        <div class="content">
                            <p><i class="fa fa-envelope"></i> Email Address</p>
                            <p>email@theApollo9.com</p>
                        </div>
                    </div>
                    <div class="col-lg-4 px-0" style="text-align:center">
                        <div class="content">
                            <p><i class="fa fa-clock-o"></i> Available</p>
                            <p>24/7</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   <!-- Navigation -->
   <div id="navigation-default">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Our Clients</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                  </li> -->
                  <!-- <li class="nav-item">
                      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                  </li>
                </ul>
              </div>
          </div>
        </nav>
    </div>
    
   
    <!-- Contact -->
    <div id="contact-page">
        <div class="container" id="app">

            <modal v-if="modal_show" @close="modal_show = false">
                <template v-if="confirm_reservation_modal">
                    <h1 slot="header" style="text-align: center; width: 100%;">
                        Please Confirm the Following Appointment
                    </h1>
                    <div slot="body">
                        <div class="row">
                            <span style="font-weight: 700">Name:</span>&nbsp;&nbsp;
                            <!-- {{ consultation_form_dummy.fullname }} -->
                            {{ consultation_form.fullname }}
                        </div>
                        <div class="row">
                            <span style="font-weight: 700">Company Name:</span>&nbsp;&nbsp;
                            <!-- {{ consultation_form_dummy.company }} -->
                            {{ consultation_form.company }}
                        </div>
                        <div class="row">
                            <span style="font-weight: 700">Phone:</span>&nbsp;&nbsp;
                            <!-- {{ consultation_form_dummy.phone }} -->
                            {{ consultation_form.phone }}
                        </div>
                        <div class="row">
                            <span style="font-weight: 700">Email:</span>&nbsp;&nbsp;
                            <!-- {{ consultation_form_dummy.email }} -->
                            {{ consultation_form.email }}
                        </div>
                        <div class="row">
                            <span style="font-weight: 700">Street Address:</span>&nbsp;&nbsp;
                            <!-- {{ consultation_form_dummy.address_street }} -->
                            {{ consultation_form.address_street }}
                        </div>
                        <div class="row">
                            <span style="font-weight: 700">City:</span>&nbsp;&nbsp;
                            <!-- {{ consultation_form_dummy.address_city }} -->
                            {{ consultation_form.address_city }}
                        </div>
                        <div class="row">
                            <span style="font-weight: 700">State:</span>&nbsp;&nbsp;
                            <!-- {{ consultation_form_dummy.address_state }} -->
                            {{ consultation_form.address_state }}
                        </div>
                        <div class="row">
                            <span style="font-weight: 700">Zip:</span>&nbsp;&nbsp;
                            <!-- {{ consultation_form_dummy.address_zip }} -->
                            {{ consultation_form.address_zip }}
                        </div>
                        <div class="row">
                            <span style="font-weight: 700">Reason for Appointment:</span>&nbsp;&nbsp;
                            <!-- {{ consultation_form_dummy.service_of_interest }} -->
                            {{ consultation_form.service_of_interest }}
                        </div>
                        <div class="row">
                            <span style="font-weight: 700">Date:</span>&nbsp;&nbsp;
                            <!-- {{ consultation_form_dummy.selected_date }} -->
                            {{ consultation_form.time_slot.date }}
                        </div>
                        <div class="row">
                            <span style="font-weight: 700">Time:</span>&nbsp;&nbsp;
                            <!-- {{ consultation_form_dummy.selected_date }} -->
                            {{ consultation_form.time_slot.time }}
                        </div>
                    </div>

                    <div class="modal-footer" slot="footer">
                        <button class="btn btn-outline-info-square" @click="reserve_consultation">Ok</button>
                        <button class="btn btn-outline-danger-square" @click="close_modals">Cancel</button>
                    </div>
                </template>
                <template v-if="reserving_time_modal">
                    <h1 slot="header" style="text-align: center; width: 100%;">
                        Processing Appointment
                    </h1>
                    <v-progress-circular
                    :size="170"
                    :width="15"
                    color="purple"
                    indeterminate
                    slot="body"
                    >
                    </v-progress-circular>
                </template>
                <template v-if="something_changed_modal">
                    <h1 slot="header" style="text-align: center; width: 100%;">
                        Your Address Info has Changed<br>
                        Re-fetching time-slots
                    </h1>
                    <v-progress-circular
                    :size="170"
                    :width="15"
                    color="purple"
                    indeterminate
                    slot="body"
                    >
                </template>
                <template v-if="getting_times_modal">
                    <div slot="header" style="width: 100%;">
                        <h1 style="text-align: center; width: 100%;">
                            Fetching Available Time Slots
                        </h1>
                        <h3 style="text-align: center; width: 100%;">
                            This may take a few seconds
                        </h3>
                    </div>
                    
                    <v-progress-circular
                    :size="170"
                    :width="15"
                    color="purple"
                    indeterminate
                    slot="body"
                    >
                </template>
                <template v-if="finished_setting_appointment_modal">
                    <h1 slot="header" style="text-align: center; width: 100%;">
                        Your Consultation Was Booked!
                    </h1>
                    <p slot="body">A confirmation has been sent to your email.<br><br>
                       We will see you on: {{ consultation_form.time_slot.date }} at {{ consultation_form.time_slot.time }}
                    </p>
                    <div class="modal-footer" slot="footer">
                        <button class="btn btn-outline-info-square" @click="finish_reservation">Ok</button>
                    </div>
                </template>
                <!-- <button class="btn btn-outline-danger" slot="footer" @click="modal_show=false">Close</button> -->
            </modal>


            <div class="title">
                <h2>Contact us</h2>
                <p v-if="!show_consultation_section">Reach out to us, or schedule your consultation 
                    <a href="" @click.prevent="show_consultation_section=true">here</a>
                </p>
                <p v-else>Schedule your consultation below, or reach out to us 
                    <a href="" @click.prevent="show_consultation_section=false">here</a>
                </p>
            </div>
            <!-- <button id="show-modal" @click="modal_show = true">Show Modal</button> -->

            <transition name="fade" mode="out-in" appear>
                <!-- CONSULTATION FORM -->
                <div class="contact my-3" v-if="show_consultation_section">
                    <!-- HEADER -->
                    <div class="row">
                        <div class="alert alert-warning col-sm-12" style="border-color: transparent !important">
                            <p style="font-weight: bold">Schedule Your Consultation</p>
                            <p>Please fill out all the fields below and choose a date to display available appointments</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- FORM W/ CALENDAR -->
                        <!-- FORM -->
                        <form
                        id="consultation-form"
                        name="consultation-form"
                        class="needs-validation col-sm-12 col-md-6" 

                        method="post" 
                        data-netlify="true" 
                        data-netlify-honeypot="bot-field" 
                        novalidate="true"

                        @submit.prevent="check_consultation_form" 
                        >
                            <div class="col-sm-12 col-sm-6">
                                <div class="row">
                                    <!-- <div class="alert alert-warning" style="border-color: transparent !important">
                                        <p style="font-weight: bold">Schedule Your Consultation</p>
                                        <p>Please fill out all the fields below</p>
                                    </div> -->
                                    <!-- Contact -->
                                    <input v-model="consultation_form.fullname" required="required" type="text" class="consultation-form-control col-sm-12 col-lg-12" name="name" placeholder="Name" />
                                    <input v-model="consultation_form.company" required="required" type="company" class="consultation-form-control col-sm-12 col-lg-12" name="company" placeholder="Company" />
                                    <input v-model="consultation_form.email" required="required" type="email" class="consultation-form-control col-sm-12 col-lg-12" name="email" placeholder="Email" />
                                    <input v-model="consultation_form.phone" required="required" type="phone" class="consultation-form-control col-sm-12 col-lg-12" name="phone" placeholder="Phone" />
                                    <!-- Adddress -->
                                    <input v-model="consultation_form.address_street" required="required" type="address" class="consultation-form-control col-sm-12 col-lg-12" name="street" placeholder="Street Address" />
                                    <input v-model="consultation_form.address_city" required="required" type="city" class="consultation-form-control col-sm-12 col-lg-6" name="city" placeholder="City" />
                                    <input maxlength=2 v-model="consultation_form.address_state" required="required" type="state" class="consultation-form-control col-sm-6 col-lg-3" name="state" placeholder="State" />
                                    <input maxlength=5 v-model="consultation_form.address_zip" required="required" type="zip" class="consultation-form-control col-sm-6 col-lg-3" name="zip" placeholder="Zip" />
                                    <!-- Reason For Consultation -->
                                    <input v-model="consultation_form.service_of_interest" required="required" type="text" class="consultation-form-control" name="service_of_interest" placeholder="Service Of Interest" />
                                    <!-- <div class="col-sm-6">
                                        Select or Enter a date
                                        <v-date-picker :mode='datepicker_mode' v-model='consultation_form.selected_date' class="col-sm-6"></v-date-picker>
                                    </div> -->
                                    <!-- <input v-model="consultation_form.service_of_interest" required="required" type="text" class="consultation-form-control" name="service_of_interest" placeholder="Service Of Interest" /> -->
                                    
                                    <!-- Submit button -->
                                    <p v-if="consultation_form_errors.length">
                                        <li class="alert alert-danger" v-for="item in consultation_form_errors" v-bind:key="item">
                                            {{ item }}!
                                        </li>
                                    </p><br><br>
                                    <!-- <div class="col-md-6">
                                        <button class="btn btn-black align-middle" @click.prevent="check_consultation_form">Check Availability</button>
                                    </div> -->
                                </div>
                            </div>
                        </form>
                        <!-- Times Available -->
                        <div class="col-md-6 col-sm-12">
                            <!-- Date pick header -->
                            <!-- <div class="row">
                                <div class="col-sm-12">
                                    <h3>Choose a time-slot below</h3>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <v-date-picker 
                                    :is-inline='true' 
                                    :mode='datepicker_mode' 
                                    :min-date='new Date()'
                                    :max-date='max_date'
                                    is-expanded
                                    v-model='consultation_form.selected_date'>
                                    </v-date-picker>
                                </div>

                            </div>
                            <div class="row my-2" v-if="consultation_available_times.length">
                                <div class="col-sm-12 py-3" style="overflow-y: auto; height: 10rem;">
                                    <!-- <ul style="width: 27rem; margin: auto"> -->
                                        <!-- <li v-for="time_slot in consultation_available_times" class="mt-2">
                                            Date: {{ time_slot.date }} Time: {{ time_slot.time }}
                                            <button class="btn btn-red tiny">Reserve This Slot</button>
                                        </li> -->
                                    <!-- </ul> -->
                                    <p v-for="time_slot in consultation_available_times" style="text-align: center">
                                        Date: {{ time_slot.date }} | Time: {{ time_slot.time }} 
                                        <button class="btn btn-red tiny" @click="confirm_consultation_slot(time_slot)">Reserve This Slot</button>
                                    </p>
                                </div>
                                <!-- <p v-for="time_slot in consultation_available_times">
                                    Date: {{ time_slot.date }} | Time: {{ time_slot.time }} 
                                    <button>Reserve Time</button>
                                </p> -->
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <button class="btn btn-black" @click="check_consultation_form" style="margin: 0 auto">Check Availability</button>
                    </div>
                </div>
                <!-- CONTACT FORM -->
                <div class="contact" v-else>
                    <div class="alert alert-warning" style="border-color: transparent !important"><p>We try or best to respond within a few hours.</p></div>
                    <form
                    id="vue-form"
                    name="contact-form"
                    method="post" 
                    data-netlify="true" 
                    data-netlify-honeypot="bot-field" 
                    class="needs-validation" 
                    novalidate="true"

                    @submit.prevent="check_contact_form" 
                    >
                        <div class="row">
                            <div class="col-md-6">
                                <input v-model="contact_form.fullname" required="required" type="text" class="form-control" name="name" placeholder="Name" />
                                <input v-model="contact_form.company" required="required" type="company" class="form-control" name="company" placeholder="Company" />
                                <input v-model="contact_form.email" required="required" type="email" class="form-control" name="email" placeholder="Email" />
                                <input v-model="contact_form.phone" required="required" type="phone" class="form-control" name="phone" placeholder="Phone" />
                            </div>
                            <div class="col-md-6">
                                <textarea v-model="contact_form.message" required="required" class="form-control" rows="10" name="message" placeholder="Your message..."></textarea>
                                <!-- <a href="#" id="contactFormBtn" class="btn btn-blue-dark-contact">Send Message</a> -->
                                <!-- VALIDATION -->
                                <div v-cloak>
                                    <p v-if="contact_form_errors.length">
                                        <li class="alert alert-danger" v-for="item in contact_form_errors" v-bind:key="item">
                                            {{ item }}!
                                        </li>
                                    </p>
                                    <div v-if="contact_form_submitted" class="alert alert-success" role="alert">
                                        <h4 class="alert-heading">Message Sent!</h4>
                                        <hr>
                                        <p class="mb-0">We will get back to you shortly.</p>
                                    </div>
                                </div>
                                <button class="btn btn-blue-dark-contact" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </transition>
        </div>
    </div>
    
    <!-- Footer -->
    <footer id="footer" class="contact">

        <div class="bottom">
            <div class="container">
                <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                Copyright © Apollo9 Technologies 2017
            </div>
        </div>
    </footer>
    
    <script src="./js/jquery.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/main.js"></script>

    <!-- VUE instance -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="js/vue-date-pick/dist/vueDatePick.js"></script> -->
    <script src='https://unpkg.com/v-calendar@0.9.7/lib/v-calendar.min.js'></script>
    
    <!-- vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-header">
                            <slot name="header">
                                <!-- default header -->
                            </slot>
                        </div>
            
                        <div class="modal-body" style="text-align:center;">
                            <slot name="body">
                                <!-- default body -->
                            </slot>
                        </div>
                        <slot name="footer">
                        </slot>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <script>
        Vue.component('modal', {
            template: '#modal-template'
        })
        var app = new Vue({
            el: '#app',
            data: {

                min_date: new Date(),
                // max_date: 
                // Modal
                modal_show: false,
                modal_header: "",
                modal_body: "",
                modal_footer: "",
                confirm_reservation_modal: false,
                reserving_time_modal: false,
                something_changed_modal: false,
                getting_times_modal: false,
                finished_setting_appointment_modal:false,

                // Contact-form
                contact_form_errors: [],
                contact_form: {
                    fullname: null,
                    company: null,
                    phone: null,
                    email: null,
                    message: null
                },
                contact_form_submitted: false,

                // Consultation
                show_consultation_section: true,

                // Consultation form
                consultation_form_errors: [],
                consultation_form: {
                    fullname: null,
                    company: null,
                    phone: null,
                    email: null,
                    address_street:null,
                    address_city:null,
                    address_state:null,
                    address_zip:null,
                    service_of_interest: null,
                    selected_date: null
                },
                // consultation_form_dummy: {
                    //     fullname: 'fullname',
                    //     company: 'company name',
                    //     phone: '666 666 6666',
                    //     email: '123@4345235.com',
                    //     address_street:'7120',
                    //     address_city:'corpus cristy',
                    //     address_state:'ca',
                    //     address_zip:'92111',
                    //     service_of_interest: 'im interested in a POS system',
                    //     selected_date: new Date()
                    // },
                consultation_form_submitted: false,
                consultation_available_times: [],
                // consultation_available_times: [
                    //     {
                    //         'date':'11/2/3',
                    //         'time':'10:00AM'
                    //     },
                    //     {
                    //         'date':'11/2/3',
                    //         'time':'10:10AM'
                    //     },
                    //     {
                    //         'date':'11/2/3',
                    //         'time':'10:20AM'
                    //     },
                    //     {
                    //         'date':'11/2/3',
                    //         'time':'10:30AM'
                    //     },
                    //     {
                    //         'date':'11/2/3',
                    //         'time':'10:40AM'
                    //     },
                    //     {
                    //         'date':'11/2/3',
                    //         'time':'10:50AM'
                    //     }
                    // ],
                consultation_slot_selected: null,
                cached_consultation_form: {},

                datepicker_mode: 'single',
                available_appointments_url: 'https://86zsxlmxef.execute-api.us-west-1.amazonaws.com/testing_live/get-available-appointments',
                reserve_consultation_url: 'https://86zsxlmxef.execute-api.us-west-1.amazonaws.com/testing_live/create-appointment'
                
            },
            computed: {
                max_date: function () {
                    var future = new Date();
                    future.setDate(future.getDate() + 30);
                    return future
                }
            },
            methods: {
                close_modals: function(){
                    this.modal_show=false;
                    this.confirm_reservation_modal=false;
                    this.reserving_time_modal=false;
                    this.something_changed_modal=false;
                    this.getting_times_modal=false;
                    this.finished_setting_appointment_modal=false;
                },
                show_confirm_reservation_modal: function(){
                    this.reserving_time_modal=false;
                    this.something_changed_modal=false;
                    this.getting_times_modal=false;
                    this.finished_setting_appointment_modal=false;
                    this.confirm_reservation_modal=true;
                    this.modal_show=true;
                },
                show_reserving_time_modal: function(){
                    this.confirm_reservation_modal=false;
                    this.something_changed_modal=false;
                    this.getting_times_modal=false;
                    this.finished_setting_appointment_modal=false;
                    this.reserving_time_modal=true;
                    this.modal_show=true;
                },
                show_something_changed_modal: function(){
                    this.confirm_reservation_modal=false;
                    this.reserving_time_modal=false;
                    this.getting_times_modal=false;
                    this.finished_setting_appointment_modal=false;
                    this.something_changed_modal=true;
                    this.modal_show=true;
                },
                show_getting_times_modal: function(){
                    this.confirm_reservation_modal=false;
                    this.reserving_time_modal=false;
                    this.something_changed_modal=false;
                    this.finished_setting_appointment_modal=false;
                    this.getting_times_modal=true;
                    this.modal_show=true;
                },
               
                show_finished_setting_appointment_modal: function(){
                    this.reserving_time_modal=false;
                    this.something_changed_modal=false;
                    this.getting_times_modal=false;
                    this.confirm_reservation_modal=false;
                    this.finished_setting_appointment_modal=true;
                    this.modal_show=true;
                },
                // SHARED ------------------------------------------
                validEmail: function (email) {
                    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return re.test(email);
                },
                encode (data) {
                    return Object.keys(data)
                        .map(
                        key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
                        )
                        .join("&");
                },
                // CONTACT FORM -------------------------------------
                check_contact_form: function (e) {
                    this.contact_form_errors = [];

                    if (!this.contact_form.fullname) {
                        this.contact_form_errors.push("name is required");
                    }
                    if (!this.contact_form.company) {
                        this.contact_form_errors.push("company is required");
                    }
                    if (!this.contact_form.phone) {
                        this.contact_form_errors.push("phone is required");
                    }
                    if (!this.contact_form.email) {
                        this.contact_form_errors.push('email is required');
                    } else if (!this.validEmail(this.contact_form.email)) {
                        this.contact_form_errors.push('valid email is required');
                    }
                    if (!this.contact_form.message) {
                        this.contact_form_errors.push("message is required");
                    }
                    // Submit form if valid
                    if (!this.contact_form_errors.length) {
                        this.handle_contact_submission()
                        return	
                    } else {
                        this.contact_form_submitted = false;
                    }

                },
                submit_contact_form: function () {
                    this.contact_form_submitted = true;
                    this.contact_form.fullname = ""
                    this.contact_form.company= ""
                    this.contact_form.phone= ""
                    this.contact_form.email= ""
                    this.contact_form.message= ""	
                },
                handle_contact_submission () {
                    const axiosConfig = {
                        header: { "Content-Type": "application/x-www-form-urlencoded" }
                    };
                    axios.post(
                        "/",
                        this.encode({
                        "form-name": "contact-form",
                        ...this.contact_form
                        }),
                        axiosConfig
                    );
                    this.submit_contact_form()
                },
                // CONSULTATION FORM --------------------------------
                confirm_consultation_slot: function(time) {
                    console.log(time);
                    var form_has_not_changed = this.compare_js_objects(
                        JSON.parse(JSON.stringify(this.consultation_form)),
                        this.cached_consultation_form
                        )
                    if(!form_has_not_changed) {
                        console.log('information has changed');
                        this.show_something_changed_modal()
                        this.check_consultation_form()
                        return
                    }
                    console.log('process reservation');
                    this.consultation_form.time_slot = time;
                    this.show_confirm_reservation_modal()
                    // Send_Email()
                    // Upsert_Event()
                },
                reserve_consultation: function() {
                    this.show_reserving_time_modal = true;
                    var appointment = {
                        event_id: (new Date()).toDateString(),
                        summary: "Consultation-"+this.consultation_form.company,
                        description: this.consultation_form.service_of_interest,
                        start: this.consultation_form.time_slot.cronofy_start_time,
                        end: this.consultation_form.time_slot.cronofy_end_time,
                        location: this.consultation_form.address_street+','+this.consultation_form.address_city+','+this.consultation_form.address_state+' '+this.consultation_form.address_zip
                    }
                    console.log(appointment);

                    axios.post(
                        this.reserve_consultation_url, 
                        appointment
                    )
                    .then((response) => {
                        console.log(response);
                        this.show_finished_setting_appointment_modal()
                    })
                    .catch((error) => {
                        console.log(error);
                        this.close_modals()
                    });
                    //     attendee_name = 
                    //     attendee_email = 

                    //     "attendees": {
                    //         "invite": [
                    //         {
                    //             "email": "invite@example.com",
                    //             "display_name": "Example Invite"
                    //         }
                    //     ],
                    
                },
                check_consultation_form: function () {
                    this.consultation_form_errors = [];

                    if (!this.consultation_form.fullname) {
                        this.consultation_form_errors.push("name is required");
                    }
                    if (!this.consultation_form.company) {
                        this.consultation_form_errors.push("company is required");
                    }
                    if (!this.consultation_form.phone) {
                        this.consultation_form_errors.push("phone is required");
                    }
                    if (!this.consultation_form.email) {
                        this.consultation_form_errors.push('email is required');
                    } else if (!this.validEmail(this.consultation_form.email)) {
                        this.consultation_form_errors.push('valid email is required');
                    }
                    if (!this.consultation_form.address_street) {
                        this.consultation_form_errors.push("street address is required");
                    }
                    if (!this.consultation_form.address_city) {
                        this.consultation_form_errors.push("city is required");
                    }
                    if (!this.consultation_form.address_state) {
                        this.consultation_form_errors.push("state is required");
                    }
                    if (!this.consultation_form.address_zip) {
                        this.consultation_form_errors.push("zip is required");
                    }
                    if (!this.consultation_form.service_of_interest) {
                        this.consultation_form_errors.push("Service of interest is required");
                    }
                    if (!this.consultation_form.selected_date) {
                        this.consultation_form_errors.push("Date is required");
                    }
                    // Submit form if valid
                    if (!this.consultation_form_errors.length) {
                        // this.show_consultation_form=false;
                        this.cached_consultation_form = JSON.parse(JSON.stringify(this.consultation_form))
                        this.get_available_consultation_times(this.consultation_form)
                        return	
                    } 
   
                    // else {
                    //     this.consultation_form_submitted = false;
                    // }

                },
                get_available_consultation_times: function (consultation_form_entries){
                    this.show_getting_times_modal()
                    // var get_request_payload = Object.create(consultation_form_entries)

                    console.log('Place get call');

                    var month = consultation_form_entries.selected_date.getMonth()+1;
                    var day = consultation_form_entries.selected_date.getDate()
                    var year = consultation_form_entries.selected_date.getFullYear()

                    // get_request_payload.parsed_date = {
                    //     month:month,
                    //     day:day,
                    //     year:year
                    // }           
                    
                    axios.get(this.available_appointments_url, {
                        params: {
                            address_street: this.consultation_form.address_street,
                            address_city: this.consultation_form.address_city,
                            address_state: this.consultation_form.address_state,
                            address_zip: this.consultation_form.address_zip,

                            month: month,
                            day:day,
                            year:year
                        }
                    })
                    .then((response) => {
                        console.log('done with request');
                        
                        console.log(response);
                        this.consultation_available_times = response.data.body;
                        this.close_modals()
                    })
                    .catch((error) => {
                        console.log('error in request');

                        console.log(error);
                        this.consultation_available_times = error;
                        this.close_modals()
                    });
                },
                compare_js_objects: function(object1, object2) {
                    var object1_keys = Object.keys(object1)
                    var keys = [
                        'address_street',
                        'address_city',
                        'address_state',
                        'address_zip',
                        'selected_date'
                    ]

                    for (let i = 0; i < keys.length; i++) {
                        var key = keys[i];
                        if (object1[key]!=object2[key]) {
                            return false
                        }
                    }
                    return true
                },
                // check_consultation_reservation: function() {

                // },
                submit_consultation_form: function () {
                    this.contact_form_submitted = true;
                    this.contact_form.fullname = ""
                    this.contact_form.company = ""
                    this.contact_form.phone = ""
                    this.contact_form.email = ""
                    this.contact_form.message = ""	
                },
                handle_consultation_submission () {
                    const axiosConfig = {
                        header: { "Content-Type": "application/x-www-form-urlencoded" }
                    };
                    axios.post(
                        "/",
                        this.encode({
                        "form-name": "consultation-form",
                        ...this.consultation_form
                        }),
                        axiosConfig
                    );
                    this.submit_consultation_form()
                },
            
                finish_reservation: function () {
                    this.consultation_form.fullname=null
                    this.consultation_form.company=null
                    this.consultation_form.phone=null
                    this.consultation_form.email=null
                    this.consultation_form.address_street=null
                    this.consultation_form.address_city=null
                    this.consultation_form.address_state=null
                    this.consultation_form.address_zip=null
                    this.consultation_form.service_of_interest= null
                    this.consultation_form.selected_date= null
                    this.consultation_available_times = []
                    this.close_modals()
                }
                // get-avail_tim

                // check_form_completion: function () {

                // }
            }
        })
    </script>
  </body>
</html>
