<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./assets/favicon.ico">

    <title>Apollo9 Technologies</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for The Bager template -->
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link href="./css/app.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    		<!-- Favicon -->
    <link rel="icon" href="assets/favicon.png" type="image/png" sizes="16x16">
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,600" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->


  </head>

  <body>
    <!-- Top Bar - Behind Navigation -->
    <div id="top-bar">
        <div class="container">
            <!-- MODIFIED; blnaked out slogan -->
            <!-- <div class="hero-slogan">We help the world growing since 1983</div> -->
            <div class="hero-slogan"></div>
            <div class="social-icons">
                <a href="https://www.facebook.com/TheApollo9/"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <!-- <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a> -->
            </div>
        </div>
    </div>
    
    <!-- Header Logo and Info -->
    <div id="">
        <div class="row mx-0 my-4">
            <div class="col-sm-12 col-md-6 col-lg-3 px-0 mt-2 pb-3" style="text-align:center">
                <a href="index.html"><img class="" src="./assets/apollo9_logo_moonO_toside.png" alt="Apollo9 Logo"></a>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-9 px-0">
                <div class="row mx-0 mt-3">
                    <div class="col-lg-4 px-0" style="text-align:center">
                        <div class="content">
                            <p><i class="fa fa-phone"></i> Call Us</p>
                            <p>(619) 342 5701</p>
                        </div>
                    </div>
                    <div class="col-lg-4 px-0" style="text-align:center">
                        <div class="content">
                            <p><i class="fa fa-envelope"></i> Email Address</p>
                            <p>email@theApollo9.com</p>
                        </div>
                    </div>
                    <div class="col-lg-4 px-0" style="text-align:center">
                        <div class="content">
                            <p><i class="fa fa-clock-o"></i> Available</p>
                            <p>24/7</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Navigation -->
    <div id="navigation-default">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Our Clients</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                  </li> -->
                  <!-- <li class="nav-item">
                      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                  </li>
                </ul>
              </div>
          </div>
        </nav>
    </div>
    
    <!-- Hero Slider -->
    <div id="hero-slider">
        <div class="owl-carousel">
          <div class="slide" style="background-image: url('./assets/landing_bg.jpg');">
              <div class="container">
                  <div class="content">
                      <h1>We supercharge small businesses </h1>
                          <!-- <span class="text-orange">Bager</span></h1> -->
                      <h2>by making the computer WORK FOR YOU.</h2>
                      <div class="buttons">
                          <a href="#" class="btn btn-black">Contact Us</a>
                          <a href="#" class="btn btn-blue-dark">Our Services</a>
                      </div>
                  </div>
                  
                  <div class="image">
                      <img src="assets/landing_page.jpg" alt="Slide Image">
                  </div>
              </div>
          </div>
        </div>
    </div>

    <!-- About -->
    <div id="about-page" class="pattern">
        <div class="container">
            <div class="row">
                <div class="title mx-auto px-3">
                    <h2>We're not your average <span style="color:#8e0038;">IT</span> people</h2>
                    <!-- <span class="line"></span> -->
                    <!-- <p>Lorem ipsum dolor sit amet</p> -->
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-5 mb-4">
                    <div class="image">
                        <img src="./assets/team_pump.jpg" alt="About Image">
                    </div>
                </div>
                <div class="col-md-7">
                    <p>
                        We are a group of engineers and technicians, from several
                        different disciplines.<br>
                        All of us share a profound love for 
                        computing and the benefits it has to offer every industry.
                    </p>
                    <h3 class="text-orange" style="font-weight:bold">Our Mission</h3>
                    <p>
                        We help small businesses compete by dwarfing capital and operational costs, on the technical end. Our unique bundle of experiences allows us to introduce solutions, where others can not.
                    </p>
                    <p>
                        We stay up to date with the newest technologies. But when 
                        a pre-existing solution does not satisfy your needs, 
                        <span style="font-weight: 500">WE CAN 
                        ENGINEER IT</span>.
                    </p>
                </div>
                
                
            </div>
        </div>
    </div>
    
    <!-- WHY CHOOSE US -->
    <!-- Section - Hero Content Box First -->
    <div id="content-box-first">
        <div class="container">
            <div class="row">
                <div class="content col-sm-12 col-lg-4 were-different">
                    <h1>
                        <span style="font-size:1.80rem; font-weight:;">what makes us different?</span> Easy. <br>
                        <br>We make computers do what they do best</h1>
                    
                    <!-- <p>
                        We stay up to date with the newest technologies. But when 
                        a pre-existing solution does not satisfy your needs, 
                        <span style="font-weight: 500">WE CAN 
                        ENGINEER IT</span>.
                    </p> -->
                </div>
                <div class="box-content col-sm-12 col-md-6 col-lg-4 pr-0 pl-0">
                    <div class="box were-different-1">
                        <!-- <i class="fa fa-hand-o-right"></i> -->
                        <div class="content">
                            <h3 style="font-weight: bold">We're Automation Experts</h3>
                            <p>
                                With us, cutting costs is not synonomous with cutting corners.
                                We automate as much as possible to avoid unneccesary time 
                                spent on repetitive, time-consuming work.
                            </p>
                        </div>
                    </div>
                    <div class="box were-different-1">
                        <!-- <i class="fa fa-hand-o-right"></i> -->
                        <div class="content">
                            <h3 style="font-weight: bold">We Only Think Win-Win</h3>
                            <p>
                                The majority of our clients were recommended by other 
                                happy clients. If you’re business is running well, so 
                                is ours. We pride ourselves on making everyone of our 
                                clients business partners.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="box-content col-sm-12 col-md-6 col-lg-4 pl-0 pr-0">
                    <div class="box were-different-2">
                        <!-- <i class="fa fa-hand-o-right"></i> -->
                        <div class="content">
                            <h3 style="font-weight: bold">We're Part of your Team</h3>
                            <p>
                                We pride ourselves on doing honest, great work. 
                                We don’t want want to parter with anyone who is 
                                not holding up their end of the bargain within 
                                their line of work.
                            </p>
                        </div>
                    </div>
                    <div class="box were-different-2">
                        <!-- <i class="fa fa-hand-o-right"></i> -->
                        <div class="content">
                            <h3 style="font-weight: bold">We provide complete services</h3>
                            <p>
                                From the start, we present all options you have at your disposal
                                and follow through with peridoic imporovements as technology improves. 
                                We gurantee Apollo9 will be the only stop you need to make.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SERVICES SECTION -->
    <div id="services-small">
        <div class="container">
            <div class="title">
                <h2>Our Services</h2>
                <!-- <span class="line"></span> -->
                <!-- <p>Lorem ipsum dolor sit amet</p> -->
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <!-- <a href=""> -->
                        <div class="box-small ">
                            <i class="fa fa-users"></i>
                            <h5>IT Helpdesk</h5>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <!-- <a href=""> -->
                        <div class="box-small dark">
                            <i class="fa fa-laptop"></i>
                            <h5>Websites + Apps</h5>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <!-- <a href=""> -->
                        <div class="box-small">
                            <i class="fa fa-code-fork"></i>
                            <h5>System Integrations</h5>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <!-- <a href=""> -->
                        <div class="box-small dark">
                            <i class="fa fa-cloud"></i>
                            <h5>Cloud Services</h5>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <!-- <a href=""> -->
                        <div class="box-small dark">
                            <i class="fa fa-wifi"></i>
                            <h5>Networks</h5>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <!-- <a href=""> -->
                        <div class="box-small">
                            <i class="fa fa-refresh"></i>
                            <h5>Work Automation</h5>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <!-- <a href=""> -->
                        <div class="box-small dark">
                            <i class="fa fa-credit-card"></i>
                            <h5>POS Systems</h5>
                        </div>
                    <!-- </a> -->
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6">
                    <!-- <a href=""> -->
                        <div class="box-small">
                            <i class="fa fa-envelope"></i>
                            <h5>Business Email</h5>
                        </div>
                    <!-- </a> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Consultation -->
    <div id="consultation-small-dark">
        <div class="container">
            <p>Got Projects? Get your free consultation!</p>
            <a href="contact.html" class="btn btn-blue-light">Make Request</a>
        </div>
    </div>
    
    <!-- Latest From Blog -->
    <div id="apollo9_facebook_feed">
        <div class="container">
            <!-- <div class="title">
                <h2>Why outsource your work to us?</span>
                <br><br>
            </div> -->
            <div class="row" id="apollo9_fb_feed">
                <!-- <div v-for="post in default_fb_posts" class="col-md-4 my-2"> -->
                <div v-for="post in fb_api_posts" class="col-md-4 my-2">
                    <div class="fb_post"> 
                        <div class="image"><img :src="post.post_preview_image" alt="post.post_title"></div>
                        <div class="content">
                            <a :href="post.post_url"><h4>{{ post.post_title }}</h4></a>
                            <p>{{ post.post_content }}</p>
                            <a :href="post.original_url" class="btn btn-black tiny">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="title mx-auto px-3 mb-3 mt-4" style="color:#fff">
                    <a id="see_more_fb_posts" href="https://www.facebook.com/TheApollo9/"><h4>See more posts</h4></a>
                </div>
            </div>
        </div>
            
    </div>

    <!-- Portfolio -->
    <div id="portfolio">
        <div class="container">
            <div class="title">
                <h2>Apollo9 Clients</h2>
            </div>
            
            <div class="portfolio-items columns-3">
                <div class="item building all">
                        <div class="base-image">
                        <div class="content">
                            <!-- <p class="cat">Building</p> -->
                            <h4>Critical Power Solutions</h4>
                            <p>Riverside, CA</p>
                            <div>
                                <img src="assets/clients/clipped/subtitile_changed_cps_erased.png"/>
                            </div>
                            <div class="">
                                <a href="https://www.criticalpowersol.com/" class="btn btn-black">Visit Business</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item office all">
                        <div class="base-image">
                        <div class="content">
                            <!-- <p class="cat">Office</p> -->
                            <h4>UCR Coin Laundry</h4>
                            <p>Riverside, CA</p>
                            <div>
                                <img src="assets/clients/clipped/Laundry_clipped.png"/>
                            </div>
                            <div class="">
                                <a href="https://www.ucrcoinlaundry.com/" class="btn btn-black">Visit Business</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item interior all">
                        <div class="base-image" >
                        <div class="content">
                            <!-- <p class="cat">Interior</p> -->
                            <h4>J&F Wood Products</h4>
                            <p>Colton, CA</p>
                            <div>
                                <img src="assets/clients/clipped/jandfwood_clipped.png"/>
                            </div>
                            <div class="">
                                <a href="https://www.jandfwood.com/" class="btn btn-black">Visit Business</a>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="item office all">
                        <div class="base-image">
                        <div class="content">
                            <!-- <p class="cat">Office</p> -->
                            <h4>Perris Auto Repair</h4>
                            <p>Perris, CA</p>
                            <div>
                                <img src="assets/clients/clipped/perrisautorepair.png"/>
                            </div>
                            
                            <div class="">
                                <a href="https://perrisautorepair.com/" class="btn btn-black">Visit Business</a>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="item building all">
                    <div class="base-image">
                        <div class="content">
                            <!-- <p class="cat">Building</p> -->
                            <h4>Sleep and Cognition Laboratory</h4>
                            <p>Irvine, CA</p>
                            <div>
                                <img src="assets/clients/clipped/sleepandcognition_clipped.png"/>
                            </div>
                            
                            <div class="">
                                <a href="http://sleepandcognitionlab.org/" class="btn btn-black">Visit Business</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item building all">
                    <div class="base-image">
                        <div class="content">
                            <!-- <p class="cat">Building</p> -->
                            <h4>Extension Residence Center</h4>
                            <p>Riverside, CA</p>
                            <div class="">
                                <a href="https://www.extension.ucr.edu/page/21/Accomodations" class="btn btn-black">Visit Business</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <footer id="footer" class="contact">
        <div class="">
            <div class="contact-box">
                <div class="info">
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="content">
                            <p>Call Us</p>
                            <p>(619) 342 5701</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="content">
                            <p>Email Us</p>
                            <p>email@theApollo9.com</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="content">
                            <p>Availability</p>
                            <p>24/7</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-md-12" style="text-align: center">
                    <div class="logo"><a href="index.html"><img src="./assets/apollo9_logo_footer.png" alt="Apollo9 Tech" style="height:150px;"></a></div>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias labore, commodi porro magni officiis ipsa nobis repellendus, ratione in optio.</p> -->
                </div>
                <!-- <div class="col-md-3">
                    <h3>Links</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div> -->
                <div class="col-md-3">
                    <!-- <h3>Latest Blog Posts</h3>
                    <ul class="blog">
                        <li><a href="#">The Biggest project in 2017</a></li>
                        <li><a href="#">New Job position opens</a></li>
                        <li><a href="#">24 Years of experience</a></li>
                        <li><a href="#">Pleasure to work with our team</a></li>
                        <li><a href="#">Future Works</a></li>
                    </ul> -->
                </div>
                
                <!-- <div class="col-md-3">
                    <h3>Subscribe</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore!</p>
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Email">
                        <a href="#" class="btn btn-secondary tiny">Subscribe</a>
                    </form>
                </div> -->
            </div>
        </div>
        
        <div class="bottom">
            <div class="container">
                <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                Copyright © <a href="http://mianfolio.com">Apollo9 Technologies</a> 2017 All right reserved.
            </div>
        </div>
    </footer>
    


    <script src="./js/jquery.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        var app = new Vue({
            el: '#apollo9_fb_feed',
            data: {
                default_fb_posts: [
                    {
                        original_url:'https://www.forbes.com/sites/forbestechcouncil/2018/06/05/how-automation-will-trigger-a-small-business-renaissance/?fbclid=IwAR0TVaKhr6Gzin1G0W4Kc2Yre2rWF14GSIufXl1HiYN5dsEO7fAwlNi09mI#2f7ec056b90c',
                        post_title:'Are you utilizing automation yet?',
                        post_preview_image:'https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fforbestechcouncil%2Ffiles%2F2018%2F05%2Fpexels-photo.jpg%26width%3D960',
                        post_content:'A grand majority of behind-the-scene tasks can be automated for small businesses. The less repetitive, tedious tasks your employees have to spend time on, the more they can go back to focusing on what matters.',
                        date_posted:'crip 22, 1999',
                        post_url:'https://www.facebook.com/TheApollo9/'
                    },
                    {
                        original_url:'https://www.managedsolution.com/5-benefits-of-outsourcing-it-for-small-businesses/?fbclid=IwAR0_YnMrnUUUSHVYxCP_oO69c_8JEMh3s-sqGJTwZ5d2_pdqojpskN9YDe8',
                        post_title:'5 Benefits Of Outsourcing IT For Small Businesses?',
                        post_preview_image:'https://www.managedsolution.com/wp-content/uploads/2018/07/5-Benefits-of-Outsourcing-IT-for-Small-Business.jpg',
                        post_content:'Different companies decide on various services to outsource, and this is most dependant on their budget, business model, and their industry. When it comes to small businesses, opting to outsource one or more services is usually the best way to go, and here are five reasons why they should continue to do so.',
                        date_posted:'crip 22, 1999',
                        post_url:'https://www.facebook.com/TheApollo9/'
                    },
                    {
                        original_url:'https://www.infusionsoft.com/resources/25-things-every-small-business-should-automate?fbclid=IwAR2y6-jxCkF0RIoTf4JMWTZqba6iGOxMDvZzn7EkhzI1gMyvrtcBagWoE2M',
                        post_title:'25 Things Every Small Business Should Automate',
                        post_preview_image:'https://assets.infusionsoft.com/image/upload/c_scale,w_750/v1518122716/interactive_ebooks/25_things_biz_should_automate/img-leads.jpg',
                        post_content:'Across industries, automation has become a key to success: Nearly 80 percent of top-performing companies have used marketing automation for more than two years, according to the research firm Gleanster.',
                        date_posted:'crip 22, 1999',
                        post_url:'https://www.facebook.com/TheApollo9/'
                    }
                ],
                fb_api_posts: [],
                fb_post: {
                    original_url:'https://forbes.com',
                    post_title:'Are you utilizing automation yet?',
                    post_preview_image:'https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fforbestechcouncil%2Ffiles%2F2018%2F05%2Fpexels-photo.jpg%26width%3D960',
                    post_content:'A grand majority of behind-the-scene tasks can be automated for small businesses. The less repetitive, tedious tasks your employees have to spend time on, the more they can go back to focusing on what matters.',
                    date_posted:'crip 22, 1999',
                    post_url:'https://www.facebook.com/TheApollo9/'
                },
                apollo9_facebook_url: 'https://86zsxlmxef.execute-api.us-west-1.amazonaws.com/testing_live/get-facebook-feed'
            },
            // computed: {
            //     fb_posts: function() {
            //         axios.get('/user?ID=12345')
            //         .then(function (response) {
            //             console.log(response);
            //         })
            //         .catch(function (error) {
            //             console.log(error);
            //         });
            //     }
            // },
            // methods: {
            //     // get_facebook_posts: function(){

            //     // }
            // },
            created () {
                axios
                .get(this.apollo9_facebook_url)
                .then(response => (this.fb_api_posts = response.data.body))
            }
            
        })
    </script>
  </body>
</html>
